<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="cc.arduino.create.ui.importer.category"
            name="Arduino Create">
      </category>
      <wizard
            category="org.eclipse.cdt.ui.importWizardCategory"
            class="cc.arduino.create.ui.importer.wizard.ImportWizard"
            id="cc.arduino.create.importer.wizard.ImportWizard"
            name="C/C++ Project from Arduino Create">
         <description>
            Imports an existing project exported by Arduino Create.
         </description>
      </wizard>
   </extension>

</plugin>
